<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Banano Side Scroller</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body onload="onLoad()">
  {{{body}}}
  <br>
  <small class="small error" id="errorMessage">&nbsp;</small>Version {{version}}<br>
  {{> includes/footer }}
</body>

</html>
